USE [master]
GO
/****** Object:  Database [WineData]    Script Date: 23-02-2020 09:05:22 PM ******/
CREATE DATABASE [WineData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WineData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WineData.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WineData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\WineData_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WineData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WineData]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 23-02-2020 09:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[WineID] [int] NULL,
	[RateID] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RateList]    Script Date: 23-02-2020 09:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RateList](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Rate] [decimal](18, 0) NULL,
 CONSTRAINT [PK_RateList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Wine]    Script Date: 23-02-2020 09:05:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wine](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[Rate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Wine] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

GO
INSERT [dbo].[Customer] ([ID], [Name], [Mobile], [WineID], [RateID]) VALUES (1, N'Kamal', N'34567888', 3, NULL)
GO
INSERT [dbo].[Customer] ([ID], [Name], [Mobile], [WineID], [RateID]) VALUES (2, N'Kamal', N'34567888', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[RateList] ON 

GO
INSERT [dbo].[RateList] ([ID], [Rate]) VALUES (1, CAST(400 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[RateList] OFF
GO
SET IDENTITY_INSERT [dbo].[Wine] ON 

GO
INSERT [dbo].[Wine] ([ID], [Name], [Brand], [Rate]) VALUES (2, N'Vodka', N'Vodka', N'231')
GO
INSERT [dbo].[Wine] ([ID], [Name], [Brand], [Rate]) VALUES (3, N'Blenders Pride', N'BP1', N'200')
GO
INSERT [dbo].[Wine] ([ID], [Name], [Brand], [Rate]) VALUES (1002, N'Royal Stag', N'Royal', N'400')
GO
SET IDENTITY_INSERT [dbo].[Wine] OFF
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Rate] FOREIGN KEY([RateID])
REFERENCES [dbo].[RateList] ([ID])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Rate]
GO
USE [master]
GO