@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Web API </h2>
        <p>
           web API concept is used for entering the data
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Simple Wine Data</h2>
        <p> Simple wine data with CRUD operation</p>
     
    </div>
   
</div>